{% extends 'base.html' %}
{% block title %}
  Get IP data
{% endblock title %} 
{% block body %}
<div class="container">
  <h1>Get IP Location of any website</h1>
  <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Website</label>
          <input type="text" class="form-control" name="website" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Enter your favourite website address</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}